


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/#!/main">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                  
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/layouts/assets/styles/mainPageTheme/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                      
                        <img src="/layouts/assets/images/AngularJS_logo.png" style="width: 50%; height: 10%; margin-top: -10%">
                        <hr class="small">
                        <span class="subheading">AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.<br>
                        TL;DR<br>
                        AngularJS is a single page application (SPA) model view controller (MVC).<br>
                        </span>
                        <hr class="small">

                        <a  href="https://docs.angularjs.org/guide" class="subheading" style="color: white; text-decoration:none; float: left" target="_blank">AngularJS Documentation</a>
                        <p class="subheading" style="float: right">See AngularJS in action:</p><br><br>

                        <a href="http://www.jetblue.com" target="blank"><img src="/layouts/assets/images/jetbluelogo.png" style="width: 20%;margin-left: 30%;"></a>

                        <a href="http://www.netflix.com" target="blank"><img src="/layouts/assets/images/netflix.png" style="width: 20%; margin-left: 75%;margin-top: -11%;"></a>

                        <a href="https://disneycruise.disney.go.com/" target="blank"><img src="/layouts/assets/images/download.png" style=" margin-left: 98%; margin-top: -10%;"></a>
                       
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->

<video-info>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

               <div align="right" style="float: right; margin-right: -50%; margin-bottom: 400px;"><iframe align="center" src="http://widget.calendarlabs.com/v1/quot.php?cid=101&uid=429869629&c=inspirational&l=en&cbg=FFFFFF&cb=0&cbc=000000&cf=arial&cfg=000000&qfs=i&qta=center&tfg=000000&tfs=i&afc=000000&afs=i" width="188" height="210" marginwidth=0 marginheight=0 frameborder=no scrolling=no allowtransparency='true'>Loading...</iframe><div align="center" style="width:140px;font-size:10px;color:#333;">Daily Quotes by <a href="http://www.calendarlabs.com/" target="_blank" rel="nofollow" style="font-size:10px;text-decoration:none;color:#333;">CalendarLabs</a></div></div> 
                <div class="post-preview">
                        <h2 class="post-title" style="margin-left: -500px;">
                            Choose a topic:
                        </h2>
                

                <br>

                        <!-- <h3 class="post-subtitle"> -->
            <div class="dropdown" style="margin-left: -60%;">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                AngularJS Topics
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="TopicPageVM.goToTime('1270:08')">Creating a state</a></li>
                <li><a href="#">Creating a directive</a></li>
                <li><a href="#">Creating a service</a></li>
                <li><a href="#">Creating a library</a></li>
              </ul>
            </div>
                
                <br><br><br>
                <div class="post-preview" style="margin-left: -60%;">
                              
                                
        <div>
         
                <br>Category: {{TopicPageVM.videoInfo.category}}
                <br>Video Name: {{TopicPageVM.videoInfo.videoName}}

                 <h2 class="post-title">
                            Step by Step Instructions:
                        </h2> 
                <ul>
                    <li ng-repeat="instruction in TopicPageVM.instructions">
                        {{instruction}}
                    </li>
                </ul> 


                <div ng-if="!TopicPageVM.videoInfo.videoLink">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
                </div>

                <div ng-if="TopicPageVM.videoInfo.videoLink">
                    <video id="video" width="100%" height="100%" controls style="margin-left: 500px; margin-top: -99px">
                       <source src="{{TopicPageVM.videoInfo.videoLink}}" type="video/mp4">
                    </video>
                </div>
                
                  
            
        </div>
                
            <script>
                document.getElementById('video').addEventListener('loadedmetadata', function() {
                  this.currentTime = 50;
                }, false);

            </script>
                <!-- Print Flashcard -->
                <ul class="pager" style="margin-bottom: -50%; margin-left: -60%;">

                    <li class="next1">

                        <a href="#">Print Flash Card  <span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>

                    </li>

                </ul>
               
            </div>
        </div>
    </div>

</video-info>
   

    <!-- Footer -->
    <footer style="position: absolute;
    bottom: -200%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <li>
                            <a href="https://www.facebook.com/ucfcodingbootcamp/?fref=ts" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                          <li>
                            <a href="https://www.linkedin.com/showcase/7946767" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/UCF-Coding-Boot-Camp">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; BSL 2017</p>
                </div>
            </div>
        </div>
    </footer>




    <!-- jQuery -->
    <script src="../../layouts/assets/styles/mainPageTheme/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../layouts/assets/styles/mainPageTheme/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../layouts/assets/styles/mainPageTheme/js/jqBootstrapValidation.js"></script>
    <script src="../../layouts/assets/styles/mainPageTheme/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../../layouts/assets/styles/mainPageTheme/js/clean-blog.min.js"></script>




