<div class="main">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                   
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/layouts/assets/images/download.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Instructor Side</h1>
                        <hr class="small">
                        <span class="subheading">Welcome to the Instructor Page for the UCF Bootcamp Student Companion Tool.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Use the form below to add a new student.l</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" novalidate>
                    

                  <div class="form-group">

                    <label for="exampleInputEmail1">Video Category</label>

                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="AdminPageVM.newVideo.category" placeholder="Category">

                  </div>


                     <div class="form-group">

                    <label for="exampleInputEmail1">Video Name</label>

                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="AdminPageVM.newVideo.videoName"  placeholder="Name">

                  </div>
                   <div class="form-group">

                    <label for="exampleInputEmail1">Video Link</label>

                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="AdminPageVM.newVideo.videoLink"  placeholder="Link">

                  </div>
                   
                
                    <fieldset data-ng-repeat="field in fields">

                    <label for="field">Video Transcript Time</label>

                    <input type="text" class="form-control col-xs-2" id="field1" ng-model="AdminPageVM.newVideo.transcript"  placeholder="Time">
<br><br>
                  
                    <label for="field2">Video Transcript Text</label>

                  <textarea class="form-control" rows="3" ng-model="AdminPageVM.newVideo.transcript" placeholder="Transcript Text">
                  </textarea>
                              
                    </fieldset>

                       <br>

                    <button ng-click="addNewField()"><i class="icon-plus"></i>Add Another Field</button>

            </div>

                     
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <input type="button" data-toggle="modal" data-target="#myModal" value="Save" ng-click="AdminPageVM.AddNewVideo()">

                            <div class="container">
  
            

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">HEY IT WORKS!</h4>
        </div>
        <div class="modal-body">
          <p>Your video was succesfully added.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

  <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <li>
                        <a href="https://www.facebook.com/ucfcodingbootcamp/?fref=ts" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                      <li>
                        <a href="https://www.linkedin.com/showcase/7946767/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/UCF-Coding-Boot-Camp">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; BSL 2017</p>
            </div>
        </div>
    </div>
</footer>

